<template lang="">
    <div  class="page-view">
         <h1>Autor</h1>
         <img  alt="author" src="@/assets/fidel.jpeg" />
         <h2>Fidel Gilart</h2>
         <h4><a href="mailto:fggilart@gmail.com">fggilart@gmail.com</a></h4>
         
         <h4><a href="https://www.linkedin.com/in/fidel-gilart-gilart/" target="_blank">LinkedIn</a></h4>
    </div>
</template>

<script>
export default {
    name: 'about-view'
}
</script>