<template>
    <div  class="page-view">
        <h1>Contacto</h1>
        <contact-form></contact-form>
    </div>
</template>

<script>
import ContactForm from "@/components/ContactForm" 

export default {
    name: 'contact-view',
    components: {
        ContactForm
    }
}
</script>