<template>
    <div class="page-view">
        <h1>Posts</h1>
        <post-list></post-list>
    </div>
</template>

<script>

import PostList from "@/components/PostList"

export default {
    name: "home-view",
    components: {
        PostList
    }
}
</script>

<style>
    

