<template>
    <div v-if="post" class="page-view">
        <h1>{{post.title}}</h1>
        <h2>userId: <span>{{post.userId}}</span></h2>
        <p>post id: {{post.id}}</p>
        <p>{{post.body}}</p>
    </div>
</template>

<script>
export default {
    props: {
        id: Number
    },

    computed: {
        post(){
            return this.$store.state.post
        }
    },

    mounted() {
        this.$store.dispatch("getPost", this.id)
    },
}
</script>

<style>
    
</style>
