<template >
    <footer>
        <span>Created by Fidel Gilart </span>
        <span><br><a href="https://www.linkedin.com/in/fidel-gilart-gilart/" target="_blank">LinkedIn</a></span>

    </footer>
</template>

<script>
export default {
    name: 'app-footer'
}
</script>

<style scoped>
    footer{
        padding-top: 60px;
        padding-bottom: 60px;
        border-top: 1px solid #b2b2b2;
        background-color: #fff;
    }
</style>