<template >
    <header>
        <img class="logo" alt="logo" src="@/assets/logo.png" />
        <nav>
            <router-link class="header-menu" to="/">Inicio</router-link>
            <router-link class="header-menu" to="/contact">Contacto</router-link>
            <router-link class="header-menu" to="/about">Autor</router-link>
        </nav>
    </header>
</template>

<script>
export default {
    name: 'app-header'
}
</script>

<style scoped>
header {
    border-bottom: 1px solid #b2b2b2;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo {
    width: 80px;
}

.header-menu {
    padding: 10px;
}
</style>