<template>
    <button>Enviar</button>
</template>

<script>
export default {
    name: 'base-button',
}
</script>

<style scoped>
form {
    margin: auto;
}
input {
    display: block;
}
button {
    background-color: #5454af;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border: 1px solid #5454af;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #47478f;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}
</style>