<template>
    <div>
        <form class="contact-form">
            <input
                type="text"
                v-model="userData.name"
                placeholder="Nombre"
                class="contact-form-field"
            />
            <input
                type="email"
                v-model="userData.email"
                placeholder="Email"
                class="contact-form-field"
            />
            <textarea
                name="message"
                v-model="userData.message"
                placeholder="Mensaje"
                id
                cols="30"
                rows="5"
                class="contact-form-field"
            ></textarea>
        </form>

        <base-button :disabled="!isDataValid">Enviar</base-button>
    </div>
</template>

<script>
import BaseButton from "@/components/BaseButton"

export default {
    name: 'contact-form',
    components: {
        BaseButton
    },
    data() {
        return {
            userData: {
                name: "",
                email: "",
                message: ""
            }

        }
    },

    computed: {
        isDataValid() {
            let isDataValid = true
            for (let field in this.userData) {
                if (this.userData[field].length == 0) {
                    isDataValid = false
                    break
                }
            }
            return isDataValid
        }
    },

    mounted() {
        this.$store.dispatch("getContactFormUserData", this.userData)
    },
}
</script>

<style scoped>
.contact-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}

.contact-form-field {
    margin-bottom: 20px;
    padding: 10px;
}
</style>