<template lang="">
    <div class="post-card-container">
        <h3>
            <router-link :to="{name: 'post', params: {id: post.id}}">{{post.title}}</router-link>
        </h3>
        <h4>post id: {{post.id}}</h4>
        <h4><span>userId: </span>{{post.userId}}</h4>
        <p>{{post.body}}</p>
    </div>
</template>

<script>
export default {
    name: 'post-card',
    props: {
        post: Object
    }

}
</script>

<style scoped>
.post-card-container {
    border: 1px solid rgb(208, 208, 208);
    background-color: #fcfcfc;
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
}
</style>