<template>
    <div>
        <div v-if="fetchingPostsData">
            Cargando datos...
        </div>
        <div v-else>
            <div class="post-list-container">
            <post-card v-for="post in posts" :key="post.id" :post="post"></post-card>
        </div>
        </div>
        
    </div>
</template>

<script>
import PostCard from "@/components/PostCard"

export default {
    name: 'post-list',
    components: {
        PostCard
    },

    computed: {
        posts() {
            return this.$store.state.posts
        },
        fetchingPostsData(){
            return this.$store.state.fetchingPostsData
        }
    },

    mounted() {
        this.$store.dispatch('getPosts')
    },
}
</script>

<style  scoped>
.post-list-container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
</style>