<template>
  <div id="app">
    <app-header></app-header>
    <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>

<script>
import AppHeader from '@/components/AppHeader'
import AppFooter from '@/components/AppFooter'

export default {
  name: 'App',
  components: { 
    AppHeader,
    AppFooter
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0px !important;
  padding: 0px !important;
}

body{
  background-color: #efeeee;
}

.page-view{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #efeeee;
  width: 1200px;
  margin: auto;
}

h1{
  margin-bottom: 60px;
}
</style>
